@media (max-width: 991px) {
    .messaging {
        display: none;
    }
}

.tag {
    float: right;
    font-size: .75em;
    margin-top: 7px;
    color: #979797;
}

.project-card-no-image.offline {
    border-top: 4px solid grey;
}

@media (max-width: 767px) {
    .text__c {
        text-align: center;
    }
}

.messages.you {
    display: flex !important;
    justify-content: flex-end !important;
}

.messages.target {
    display: flex !important;
    justify-content: flex-start !important;
}

/*
TODO: General
 */
body {
    background: var(--background-color);
}

a {
    color: #0ea0ff;
    transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
}

a:hover {
    color: #66c2ff;
    text-decoration: none;
    transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
}

.font-underline {
    text-decoration: underline;
}

.gradient {
    background-image: linear-gradient(120deg, var(--gradient-1), var(--gradient-2));
}

/*
TODO: Navigation
 */

.navigation {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navigation-link {
    display: block;
    padding: .5rem 1rem
}

.navigation-link:focus, .navigation-link:hover {
    text-decoration: none
}

.navigation-bar {
    position: relative;
    padding: .5rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1)
}

.navigation-bar,
.navigation-bar .container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.navigation-title {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.navigation-title:focus, .navigation-title:hover {
    text-decoration: none
}

.navigation-title .logo {
    font-size: 1.5rem
}

.navigation-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navigation-list .navigation-link {
    padding-right: 0;
    padding-left: 0;
    font-weight: 700;
    width: fit-content;
    width: -moz-fit-content;
}

.navigation-list .dropdown-menu {
    position: static;
    float: none;
    background: transparent;
}

.navigation-text {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem
}

.navigation-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center
}

.navigation-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 2em;
}

.navigation-toggler:focus, .navigation-toggler:hover {
    text-decoration: none
}

.navigation-toggler-icon span {
    display: block;
    height: 4px;
    width: 30px;
    position: relative;
    background: var(--navigation-inactive);
    border-radius: 9px;
    margin-top: 6px;
    transition: background 300ms ease-in-out;
}

.navigation-toggler:hover .navigation-toggler-icon span,
.navigation-toggler[aria-expanded="true"] .navigation-toggler-icon span {
    background: var(--navigation-active);
}


@media (max-width: 991.98px) {
    .navigation-expand-lg > .container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width: 992px) {
    .navigation-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navigation-expand-lg .navigation-list {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navigation-expand-lg .navigation-list .dropdown-menu {
        position: absolute
    }

    .navigation-expand-lg .navigation-list .navigation-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navigation-expand-lg > .container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .navigation-expand-lg .navigation-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navigation-expand-lg .navigation-toggler {
        display: none
    }
}

.navigation-title,
.navigation-list,
.navigation-text,
.navigation-link {
    color: var(--navigation-inactive);
    transition: color 300ms ease-in-out;
}

.navigation-title:focus,
.navigation-title:hover,
.navigation-list .navigation-link:focus,
.navigation-list .navigation-link:hover {
    color: var(--navigation-active);
    transition: color 300ms ease-in-out;
}

.navigation-text a:focus,
.navigation-text a:hover {
    color: var(--navigation-active);
    transition: color 300ms ease-in-out;
}

.navigation-list > .navigation-link,
.navigation-list .navigation-link,
.navigation-list .navigation-link,
.navigation-list > .navigation-link {
    color: var(--navigation-inactive);
    transition: color 300ms ease-in-out;
}

.navigation-list .active > .navigation-link,
.navigation-list .navigation-link.active,
.navigation-list .navigation-link.show,
.navigation-list .show > .navigation-link {
    color: var(--navigation-active);
    transition: color 300ms ease-in-out;
}

.navigation-list .navigation-link.loading {
    color: var(--navigation-inactive);
    cursor: progress;
}

.navigation-list .navigation-item {
    padding-right: 2rem
}

.navigation-item .badge {
    margin-top: -5px;
}

.navigation .navigation-list:last-child .item:last-child,
.navigation-list:last-child .item:last-child a {
    padding-right: 0
}

.navigation-bar.fixed-top + .page {
    padding-top: 3.875rem
}

@media (min-width: 576px) {
    .navigation-bar {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem
    }

    .navigation-bar.fixed-top + .page {
        padding-top: 5.5rem
    }
}

/*
TODO: Navigation Dropdown
 */
.navigation-bar .dropdown-menu a {
    color: var(--navigation-inactive);
    transition: color 300ms ease-in-out;
}

.navigation-bar .dropdown-menu a:focus,
.navigation-bar .dropdown-menu a:hover {
    color: var(--navigation-active);
    transition: color 300ms ease-in-out;
}


.navigation-bar .dropdown-item:hover {
    background-color: transparent;
}

.navigation-bar .dropdown-menu .gradient:first-child {
    border-radius: 5px 5px 0 0;
    border-top: 1px solid var(--navigation-inactive);
    padding-top: 2px;
}

.navigation-bar .dropdown-menu .gradient:last-child {
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid var(--navigation-inactive);
    padding-bottom: 2px;
}

.navigation-bar .dropdown-menu .gradient {
    border-color: var(--navigation-inactive);
    border-left: 1px solid var(--navigation-inactive);
    border-right: 1px solid var(--navigation-inactive);
    opacity: 0;
}

.navigation-bar .dropdown-menu.show .item-1 {
    animation: rotateX 300ms 60ms ease-in-out forwards;
    transform-origin: top center;
}

.navigation-bar .dropdown-menu.show .item-2 {
    animation: rotateX 300ms 120ms ease-in-out forwards;
    transform-origin: top center;
}

.navigation-bar .dropdown-menu.show .item-3 {
    animation: rotateX 300ms 180ms ease-in-out forwards;
    transform-origin: top center;
}

@media (min-width: 992px) {
    .navigation-bar .dropdown-menu {
        position: absolute;
        top: 100%;
        left: -100%;
    }
}

/*
TODO: Main
 */

.page {
    opacity: 0;
}

.page-event {
    text-align: center;
    background: #ff3e3e;
    color: white;
    position: absolute;
    transform: scaleY(0);
    transition: transform 100ms ease-in-out, color 300ms ease-in-out
}

.page-event h3 {
    font-size: 16px;
}

.page-event.show {
    position: relative;
    transform: scaleY(1);
}

.page.show {
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
}

.page-section {
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
    color: var(--default-text-color)
}

.page-section .page-title {
    max-width: 800px;
    margin: 0 auto
}

.page-section .page-subtitle {
    font-size: 98%;
    margin: 0 auto
}

.page-section .page-subtitle.strong,
.page-section .page-title.strong {
    font-weight: bold;
}

.page-section p {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 30px;
}

.page-section.block {
    max-width: 1200px;
    padding: 20px;
    margin: 30px auto 30px;
    box-shadow: 0 2px 10px var(--form-shadow)
}

.page-section.block .page-title {
    padding-bottom: 30px;
}

.page-section.block p:not(.page-title) {
    font-size: 95%;
    font-weight: 400
}

.page-section form {
    max-width: 650px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 2px 10px var(--form-shadow)
}

.page-section input, .page-section input:focus {
    background-color: var(--form-input);
    color: var(--default-text-color)
}

.page-section form h1 {
    padding-bottom: 10px;
}

.page-section form .button button {
    margin-top: 30px
}

@media (min-width: 768px) {

    .page-section {
        padding-bottom: 100px;
        padding-top: 100px
    }

    .page-section.block,
    .page-section form {
        padding: 50px
    }

}

.status-table .status-item {
    border-left: var(--default-text-color) solid 2px;
    border-right: var(--default-text-color) solid 2px;
    border-top: #919191 solid 1px;
}

.status-table .status-item:last-child {
    border-bottom: var(--default-text-color) solid 2px;
}

.status-table .status-item:first-child {
    border-top: var(--default-text-color) solid 2px;
}

/*
TODO: Form
 */
.form-group {
    position: relative;
}

.form-group .form-tooltips {
    position: absolute;
    top: 100%;
    transform: translateY(5px) scaleY(0);
    transition: transform 100ms ease-in-out;
    z-index: 5;
}

.form-tooltips ul {
    font-size: 10px;
    background: var(--background-color);
}

.form-group input:focus + .form-tooltips {
    transform: translateY(5px) scaleY(1);
}

.form-text {
    opacity: .9;
}

.form-event {
    color: var(--default-text-color);
    position: absolute;
    transform: translateY(5px) scaleY(0);
    transition: transform 100ms ease-in-out, color 300ms ease-in-out;
}

.form-event ul {
    font-size: 12px;
    background: var(--background-color);
}

.form-event.show {
    position: relative;
    transform: translateY(5px) scaleY(1);
}

.form-event.event-success {
    color: #28a745;
    transition: color 300ms ease-in-out;
}

.form-event.event-error {
    color: #dc3545;
    transition: color 300ms ease-in-out;
}

.form-tooltips .li-sm,
.form-event .li-sm {
    font-size: 9px
}

.form-check label {
    margin-top: 2px;
}

/*
TODO: ukua-btn
 */
.ukua-btn,
.ukua-btn.disabled,
.ukua-btn:disabled {
    color: var(--btn-color);
    background-color: var(--btn-background-color);
    border-color: var(--btn-border-color);
    transition: background-color .3s ease-in-out;
}

.ukua-btn.focus, .ukua-btn:focus, .ukua-btn:hover {
    color: var(--btn-color);
    background-color: var(--btn-background-color-fh);
    border-color: var(--btn-border-color-fh)
}

.ukua-btn.focus, .ukua-btn:focus {
    color: var(--btn-color);
    box-shadow: 0 0 0 .2rem var(--btn-shadow)
}

.ukua-btn:not(:disabled):not(.disabled).active, .ukua-btn:not(:disabled):not(.disabled):active, .show > .ukua-btn.dropdown-toggle {
    background-color: var(--btn-background-color-na);
    border-color: var(--btn-border-color-na)
}

.ukua-btn:not(:disabled):not(.disabled).active:focus, .ukua-btn:not(:disabled):not(.disabled):active:focus, .show > .ukua-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem var(--btn-shadow)
}

/*
TODO: Or
 */
.or {
    min-height: 105px;
}

.or p {
    position: relative;
    color: var(--or);
!important;
    font-size: 1.25rem !important;
    font-weight: 900 !important;
}

.or p::before {
    content: '';
    height: 12rem;
    width: 5px;
    border-radius: 1rem;
    background-image: linear-gradient(120deg, var(--gradient-1), var(--gradient-2));
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: transform 300ms ease-in-out;
}

.or p::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2.5rem;
    width: 2.5rem;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(120deg, var(--gradient-1), var(--gradient-2));
    border-radius: 50%;
    z-index: -1;
}

@media (max-width: 991px) {
    .or p::before {
        transform: translate(-50%, -50%) rotate(-90deg);
    }
}

/*
TODO: Footer
 */
.footer {
    padding: 35px 0 10px;
    width: 100vw;
    color: var(--footer-color);
    background-color: var(--footer-background);
    border-top: transparent;
    text-align: center;

}

.footer-spacer {
    height: 5px;
    background-image: linear-gradient(120deg, var(--gradient-1), var(--gradient-2));
    margin-bottom: 15px;
}

.footer a {
    margin: 0 10px;
    color: #282b2d;
    font-size: 18px;
    display: inline-block
}

.footer h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
    transition: opacity 300ms ease-in-out;
}

.footer ul a:hover {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.footer ul li i {
    font-size: 10px;
}

@media (max-width: 767px) {
    .footer .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer .item.text {
    margin-bottom: 36px;
}

@media (max-width: 767px) {
    .footer .item.text {
        margin-bottom: 0;
    }
}

.footer .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.footer .copyright i {
    color: rgb(255, 0, 0)
}

.footer #status {
    margin-top: -10px;
}

/*
TODO: Scroll to Top
 */
.scrollToTopButton {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    border-radius: 100%;
    display: inline;
    opacity: 0;
    transition: all 300ms ease-in-out
}

.scrollToTopButton.show {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.scrollToTopButton:hover {
    transition: all 300ms ease-in-out;
}

/*
TODO: Keyframe
 */
@keyframes rotateX {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}